########################################################################################################
#   (c) Copyright 2015 Hewlett-Packard Development Company, L.P.
#   All rights reserved. This program and the accompanying materials
#   are made available under the terms of the Apache License v2.0 which accompany this distribution.
#
#   The Apache License is available at
#   http://www.apache.org/licenses/LICENSE-2.0
########################################################################################################

'.source.sl':

  'Flow':
    'prefix': 'flow'
    'body': """
      ####################################################
      # ${17:Flow description}
      #
      # Inputs:
      #   - ${5:input name} - ${18:input description}
      # Outputs:
      #   - ${14:output name} - ${19:output description}
      # Results:
      #   - ${16:result name} - ${20:result description}
      ####################################################

      namespace: ${1:current.namespace}

      imports:
        ${2:import name}: ${3:import.namespace}

      flow:
        name: ${4:flow name}

        inputs:
          - ${5:input name}: ${6:input value}

        workflow:
          - ${7:task name}:
              do:
                ${8:executable name}:
                  - ${9:executable argument}
              publish:
                - ${10:publish name}: ${11:publish value}
              navigate:
                ${12:executable result name}: ${13:navigate to}

        outputs:
          - ${14:output name}: ${15:output value}

        results:
          - ${16:result name}
    """


  'Operation':
    'prefix': 'operation'
    'body': """
      ####################################################
      # ${12:Operation description}
      #
      # Inputs:
      #   - ${5:input name} - ${13:input description}
      # Outputs:
      #   - ${8:output name} - ${14:output description}
      # Results:
      #   - ${10:result name} - ${15:result description}
      ####################################################

      namespace: ${1:current.namespace}

      operation:
        name: ${4:operation name}

        inputs:
          - ${5:input name}: ${6:input value}

        action:
          python_script: ${7:python script}

        outputs:
          - ${8:output name}: ${9:output value}

        results:
          - ${10:result name}: ${11:result condition}
    """


  'simple input':
    'prefix': 'input'
    'body': """
          - ${1:input name}: ${2:input value}
    """

  'input with properties':
    'prefix': 'input with properties'
    'body': """
          - ${1:input name}:
              required: ${2:true|false}
              default: ${3:default value}
              overridable: ${4:true|false}
              system_properties: ${5:system.property.key}
    """

  'output':
    'prefix': 'output'
    'body': """
          - ${1:output name}: ${2:output value}
    """

  'publish':
    'prefix': 'publish'
    'body': """
          - ${1:publish name}: ${2:publish value}
    """

  'import':
    'prefix': 'import'
    'body': """
          ${1:import name}: ${2:import namespace}
    """

  'navigate':
    'prefix': 'navigate'
    'body': """
          ${1:executable result name}: ${2:navigate to}
    """

  'task':
    'prefix': 'task'
    'body': """
          - ${1:task name}:
              do:
                ${2:executable name}:
                  - ${3:executable argument}
              publish:
                - ${4:publish name}: ${5:publish value}
              navigate:
                ${6:executable result name}: ${7:navigate to}
    """

  'on failure':
    'prefix': 'on_failure'
    'body': """
          - on_failure:
            - ${1:task name}:
                do:
                  ${2:executable name}:
                    - ${3:executable argument}
                publish:
                  - ${4:publish name}: ${5:publish value}
    """

  'for':
    'prefix': 'for'
    'body': """
          - ${1:task name}:
              loop:
                for: ${2:iteration statement}
                do:
                  ${3:executable name}:
                    - ${4:executable argument}
                publish:
                  - ${5:publish name}: ${6:publish value}
              navigate:
                ${7:executable result name}: ${8:navigate to}
    """

  'async':
    'prefix': 'async'
    'body': """
          - ${1:task name}:
              async_loop:
                for: ${2:iteration statement}
                do:
                  ${3:executable name}:
                    - ${4:executable argument}
                publish:
                  - ${5:publish name}: ${6:publish value}
              aggregate:
                  - ${7:aggregated publish name}: ${8:aggregated publish value}
              navigate:
                ${9:executable result name}: ${10:navigate to}
    """
