########################################################################################################
#   (c) Copyright 2015 Hewlett-Packard Development Company, L.P.
#   All rights reserved. This program and the accompanying materials
#   are made available under the terms of the Apache License v2.0 which accompany this distribution.
#
#   The Apache License is available at
#   http://www.apache.org/licenses/LICENSE-2.0
########################################################################################################

'scopeName': 'source.sl'
'name': 'CloudSlang'
'fileTypes': [
  'sl'
  'sl.yml'
  'sl.yaml'
]
'patterns': [
  # for multi-line string syntax - e.g.:
  #   keyword: |
  #   keyword: >
  {
    'begin': '^(\\s*)(?:(-)|(?:(-(\\s*))?((namespace|imports|flow|name|inputs|workflow|do|publish|navigate|outputs|results|operation|action|java_action|async_loop|loop|aggregate|for|break|className|methodName|python_script)\\s*(:))))\\s*(\\||>)'
    'beginCaptures':
      '5':
        'name': 'keyword'
    'end': '^(?!\\1 \\4\\s+)(?=\\s*(-|\\S+\\s*:|#))'
    'name': 'string.unquoted.block.yaml'
  }
  # other than multi-line string syntax - e.g.:
  #   keyword: str
  {
    'match': '(\\s*)((namespace|imports|flow|name|inputs|workflow|do|publish|navigate|outputs|results|operation|action|java_action|async_loop|loop|aggregate|for|break|className|methodName|python_script)(:))(.*)'
    'captures':
      '2':
        'name': 'keyword'
      '5':
        'name': 'string.unquoted.block.yaml'
  }
  # include Yaml grammar rules
  {
    'include': 'source.yaml'
  }
]
